<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semi.oliveold.delivery.repository.DeliveryMapper">

    <resultMap type="OrderDTO" id="OrderResultMap">
        <id property="productNo" column="PRODUCT_NO"/>
        <result property="orderNo" column="ORDER_NO"/>
        <result property="orderDate" column="ORDER_DATE"/>
        <result property="orderQuan" column="ORDER_QUAN"/>
        <result property="memberId" column="MEMBER_ID"/>

        <association property="productDTO" resultMap="productResultMap"/>
    </resultMap>

    <resultMap type="ProductDTO" id="productResultMap">
        <id property="productNo" column="PRODUCT_NO"/>
        <result property="productName" column="PRODUCT_NAME"/>
        <result property="productPrice" column="PRODUCT_PRICE"/>
        <result property="productQuan" column="PRODUCT_QUAN"/>
        <result property="productDate" column="PRODUCT_DATE"/>
        <result property="productStatus" column="PRODUCT_STATUS"/>
        <result property="productImage1" column="PRODUCT_IMAGE1"/>
        <result property="productImage2" column="PRODUCT_IMAGE2"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="categoryName" column="CATEGORY_NAME"/>
    </resultMap>

    <!--<resultMap type="PaymentDTO" id="paymentResultMap">
        <id property="productNo" column="PAYMENT_NO"/>
        <result property="productName" column="PAYMENT_DATE"/>
        <result property="productPrice" column="PAYMENT_AMOUNT"/>
        <result property="productQuan" column="MEMBER_ID"/>
    </resultMap>-->

  <select id="selectDeliveryList" resultMap="OrderResultMap">
      SELECT
                A.ORDER_DATE
              , B.PRODUCT_IMAGE1
              , B.PRODUCT_NAME
              , A.ORDER_QUAN
              , B.PRODUCT_PRICE
          FROM  SemiDB.TBL_ORDER A
          JOIN  SemiDB.PRODUCT B on A.PRODUCT_NO = B.PRODUCT_NO
         WHERE  A.MEMBER_ID = #{ memberId }
  </select>

</mapper>