<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semi.oliveold.notice.repository.NoticeMapper">

    <resultMap type="NoticeDTO" id="NoticeResultMap">
        <id property="noticeNo" column="NOTICE_NO"/>
        <result property="noticeTitle" column="NOTICE_TITLE"/>
        <result property="noticeRegistDate" column="NOTICE_REGISTDATE"/>
        <result property="noticeContent" column="NOTICE_CONTENT"/>
        <result property="noticeWriter" column="NOTICE_WRITER"/>
    </resultMap>

    <resultMap type="MemberDTO" id="MemberResultMap">
        <id property="memberId" column="MEMBER_ID"/>
        <result property="memberPwd" column="MEMBER_PWD"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberGender" column="MEMBER_GENDER"/>
        <result property="memberIdentifier" column="MEMBER_IDENTIFIER"/>
        <result property="memberPhone" column="MEMBER_PHONE"/>
        <result property="memberAddress" column="MEMBER_ADDRESS"/>
        <result property="memberEmail" column="MEMBER_EMAIL"/>
        <result property="memberRegistDate" column="MEMBER_REGISTDATE"/>
        <result property="memberISAD" column="MEMBER_ISAD"/>
        <result property="memberLevel" column="MEMBER_LEVEL"/>
        <result property="memberType" column="MEMBER_TYPE"/>
        <result property="mileage" column="MEMBER_MILEAGE"/>

    </resultMap>

    <select id="selectNoticeList" resultMap="NoticeResultMap">
        SELECT
        NOTICE_NO
        , NOTICE_TITLE
        , NOTICE_REGISTDATE
        , NOTICE_CONTENT
        , NOTICE_WRITER
        FROM semiDB.NOTICE
    </select>

    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
        COUNT(*)
        FROM NOTICE A

        <if test="searchCondition == 'writer'">
            JOIN Member B ON(A.NOTICE_WRITER = B.MEMBER_NO)
        </if>
        <where>
            <if test="searchCondition == 'category'">
                B.CATEGORY_NAME = #{ searchValue }
            </if>
            <if test="searchCondition == 'writer'">
                B.MEMBER_NAME LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'title'">
                A.NOTICE_TITLE LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'content'">
                A.NOTICE_CONTENT LIKE '%' || #{ searchValue } || '%'
            </if>

        </where>
    </select>



    <insert id="registNotice" parameterType="NoticeDTO">
        INSERT
        INTO semiDB.NOTICE
        (
        NOTICE_NO
        , NOTICE_TITLE
        , NOTICE_REGISTDATE
        , NOTICE_CONTENT
        , NOTICE_WRITER
        )
        VALUES
        (
        null
        , #{ noticeTitle }
        , now()
        , #{ noticeContent }
        , 'user01'    <!-- 수정 -->
        )
    </insert>

    <select id="selectNoticeDetail" resultMap="NoticeResultMap">
        SELECT
        A.NOTICE_NO
        , A.NOTICE_TITLE
        , A.NOTICE_REGISTDATE
        , A.NOTICE_CONTENT
        , A.NOTICE_WRITER
        , B.MEMBER_NAME
        FROM NOTICE A
        JOIN Member B ON (A.NOTICE_WRITER = B.MEMBER_ID)
        WHERE A.NOTICE_NO = #{ no }
    </select>

    <update id="updateNotice" parameterType="NoticeDTO">
        UPDATE
        NOTICE A
        SET A.NOTICE_TITLE = #{ noticeTitle }
        , A.NOTICE_CONTENT = #{ noticeContent }
        WHERE A.NOTICE_NO = #{ no }
    </update>

    <delete id="removeNotice">
        DELETE
        FROM NOTICE A
        WHERE A.NOTICE_NO = #{ no }
    </delete>

</mapper>