<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semi.oliveold.notice.repository.FaqBoardMapper">

    <resultMap id="noticeResultMap" type="NoticeDTO">
        <id property="noticeNo" column="NOTICE_NO"/>
        <result property="noticeTitle" column="NOTICE_TITLE"/>
        <result property="noticeRegistDate" column="NOTICE_REGISTDATE"/>
        <result property="noticeContent" column="NOTICE_CONTENT"/>
        <result property="noticeWriter" column="NOTICE_WRITER"/>

    </resultMap>

</mapper>