<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semi.oliveold.oneonone.repository.OneOnOneBoardMapper">


    <resultMap type="OneOnOneBoardDTO" id="OneOnOneBoardResultMap">
        <id property="no" column="OneOnOne_BOARD_NO"/>
        <result property="type" column="OneOnOne_BOARD_TYPE"/>
        <result property="CategoryCode" column="OneOnOne_CATEGORY_CODE"/>
        <result property="title" column="OneOnOne_BOARD_TITLE"/>
        <result property="body" column="OneOnOne_BOARD_BODY"/>
        <result property="writerMemberId" column="OneOnOne_BOARD_WRITER_MEMBER_ID"/>
        <result property="count" column="OneOnOne_BOARD_COUNT"/>
        <result property="createdDate" column="OneOnOne_CREATED_DATE"/>
        <result property="modifiedDate" column="OneOnOne_MODIFIED_DATE"/>
        <result property="status" column="OneOnOne_BOARD_STATUS"/>

        <association property="writer" resultMap="memberResultMap"/>
        <association property="oneOnOneCategory" resultMap="oneOnOneCategoryResultMap"/>

        <collection property="attachment" resultMap="attachmentResultMap"/>

    </resultMap>

    <resultMap type="MemberDTO" id="memberResultMap">
        <id property="memberNo" column="MEMBER_NO"/>
        <result property="memberId" column="MEMBER_ID"/>
        <result property="memberPwd" column="MEMBER_PWD"/>
        <result property="memberName" column="MEMBER_NAME"/>
        <result property="memberAddress" column="MEMBER_ADDRESS"/>
        <result property="memberEmail" column="MEMBER_EMAIL"/>
        <result property="memberRegistDate" column="MEMBER_REGISTDATE"/>
        <result property="memberISAD" column="MEMBER_ISAD"/>

    </resultMap>

    <resultMap type="OneOnOneCategoryDTO" id="oneOnOneCategoryResultMap">
        <id property="oneOnOneCode" column="CATEGORY_CODE"/>
        <result property="oneOnOneName" column="CATEGORY_NAME"/>
    </resultMap>

    <resultMap type="AttachmentDTO" id="attachmentResultMap">
        <id property="no" column="ATTACHMENT_NO"></id>
        <result property="refBoardNo" column="REF_BOARD_NO"/>
        <result property="originalName" column="ORIGINAL_NAME"/>
        <result property="savedName" column="SAVED_NAME"/>
        <result property="savePath" column="SAVE_PATH"/>
        <result property="fileType" column="FILE_TYPE"/>
        <result property="status" column="ATTACHMENT_STATUS"/>
    </resultMap>





    <select id="selectTotalCount" resultType="_int" parameterType="hashmap">
        SELECT
        COUNT(*)
        FROM TBL_OneOnOne_BOARD A
        <if test="searchCondition == 'category'">
            JOIN TBL_OneOnOne_CATEGORY B ON(A.OneOnOne_CATEGORY_CODE = B.CATEGORY_CODE)
        </if>
        <if test="searchCondition == 'writer'">
            JOIN Member B ON(A.OneOnOne_BOARD_WRITER_MEMBER_ID = B.MEMBER_NO)
        </if>
        <where>
            <if test="searchCondition == 'category'">
                B.CATEGORY_NAME = #{ searchValue }
            </if>
            <if test="searchCondition == 'writer'">
                B.MEMBER_NAME LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'title'">
                A.OneOnOne_BOARD_TITLE LIKE '%' || #{ searchValue } || '%'
            </if>
            <if test="searchCondition == 'content'">
                A.OneOnOne_BOARD_BODY LIKE '%' || #{ searchValue } || '%'
            </if>
            AND A.OneOnOne_BOARD_STATUS = 'Y'
        </where>
    </select>





    <select id="selectOneOnOneBoardList" resultMap="OneOnOneBoardResultMap">
        SELECT
              A.OneOnOne_BOARD_NO
            , A.OneOnOne_BOARD_NO
            , A.OneOnOne_CATEGORY_CODE
            , B.CATEGORY_NAME
            , A.OneOnOne_BOARD_TITLE
            , A.OneOnOne_BOARD_BODY
            , A.OneOnOne_BOARD_WRITER_MEMBER_ID
            , C.MEMBER_NAME
            , A.OneOnOne_BOARD_COUNT
            , A.OneOnOne_CREATED_DATE
            , A.OneOnOne_BOARD_STATUS
        FROM TBL_OneOnOne_BOARD A
        JOIN TBL_OneOnOne_CATEGORY B ON(B.CATEGORY_CODE = A.OneOnOne_CATEGORY_CODE)
        JOIN Member C ON(C.MEMBER_ID = A.OneOnOne_BOARD_WRITER_MEMBER_ID)

        <where>
            <if test="typeValue == '-1'">
                <![CDATA[DATEDIFF(SYSDATE(),A.OneOnOne_CREATED_DATE) <= 30]]>
            </if>

             <if test="typeValue == -3">
                 <![CDATA[DATEDIFF(SYSDATE(),A.OneOnOne_CREATED_DATE) <= 90]]>
            </if>

             <if test="typeValue == -6">
                 <![CDATA[DATEDIFF(SYSDATE(),A.OneOnOne_CREATED_DATE) <= 180]]>
            </if>

            <if test="typeValue == '-12'">
                <![CDATA[DATEDIFF(SYSDATE(),A.OneOnOne_CREATED_DATE) <= 360]]>
            </if>

        </where>

    </select>



    <insert id="registOneOnOneBoard" parameterType="OneOnOneBoardDTO">

        INSERT
        INTO TBL_OneOnOne_BOARD
        (
        OneOnOne_BOARD_NO
        ,OneOnOne_CATEGORY_CODE
        ,OneOnOne_BOARD_TITLE
        ,OneOnOne_BOARD_BODY
        ,OneOnOne_BOARD_WRITER_MEMBER_ID
        ,OneOnOne_CREATED_DATE
        )
        VALUES
        (
        NULL
        , #{ categoryCode }
        , #{ title }
        , #{ body }
        , 'user01'    <!--  테스트용 이거 바꿔야 합니다-->
        ,  now()
        )
        <selectKey keyColumn="OneOnOne_BOARD_NO" keyProperty="no" order="AFTER" resultType="_int">
            select LAST_INSERT_ID()
        </selectKey>


    </insert>

    <select id="selectBoardDetail" resultMap="OneOnOneBoardResultMap">
        SELECT
          A.OneOnOne_BOARD_NO
        , A.OneOnOne_BOARD_TITLE
        , A.OneOnOne_BOARD_BODY
        , A.OneOnOne_BOARD_WRITER_MEMBER_ID
        , B.MEMBER_NAME
        , A.OneOnOne_BOARD_COUNT
        , A.OneOnOne_CREATED_DATE
        , C.CATEGORY_NAME
        FROM TBL_OneOnOne_BOARD A
        JOIN Member B ON (A.OneOnOne_BOARD_WRITER_MEMBER_ID = B.MEMBER_ID)
        JOIN TBL_OneOnOne_CATEGORY C ON (A.OneOnOne_CATEGORY_CODE = C.CATEGORY_CODE)
        WHERE A.OneOnOne_BOARD_STATUS = 'Y'
        AND A.OneOnOne_BOARD_NO = #{ no }
    </select>

    <delete id="removeOneOnOne" parameterType="long">
        DELETE
        FROM TBL_OneOnOne_BOARD A
        WHERE A.OneOnOne_BOARD_NO = #{ no }
    </delete>

    <update id="modifyOneOnOne" parameterType="OneOnOneBoardDTO">
        UPDATE
        TBL_OneOnOne_BOARD A
        SET A.OneOnOne_BOARD_TITLE = #{ title }
        , A.OneOnOne_BOARD_BODY = #{ body }
        WHERE A.OneOnOne_BOARD_NO = #{ no }
    </update>


    <insert id="insertAttachment" parameterType="AttachmentDTO">


        INSERT
        INTO TBL_ATTACHMENT A
        (
          A.ATTACHMENT_NO
        , A.REF_BOARD_NO
        , A.ORIGINAL_NAME
        , A.SAVED_NAME
        , A.SAVE_PATH
        , A.FILE_TYPE
        )
        VALUES
        (
          null
        , #{ refBoardNo }
        , #{ originalName }
        , #{ savedName }
        , #{ savePath }
        , #{ fileType }
        )
    </insert>






</mapper>