<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.semi.order.repository.OrderMapper">


    <resultMap type="OrderDTO" id="OrderResultMap">
        <id property="no" column="ORDER_NO"/>
        <result property="date" column="ORDER_DATE"/>
        <result property="productName" column="ORDER_PRODUCT_NAME"/>
        <result property="productQuan" column="ORDER_PRODUCT_QUAN"/>
        <result property="price" column="ORDER_PRICE"/>
        <result property="delivery" column="ORDER_DELIVERY"/>
    </resultMap>

    <select id="selectOrderList" resultMap="OrderResultMap">
        SELECT
                ORDER_NO
                , ORDER_DATE
                , ORDER_PRODUCT_NAME
                , ORDER_PRODUCT_QUAN
                , ORDER_PRICE
                , ORDER_DELIVERY
          FROM SemiDB.ORDER
    </select>
</mapper>