<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>OLIVE OLD</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/x-icon" href="/assets/images/logo/oliveOld.png">


        <!-- ========================= CSS here ========================= -->
        <link rel="stylesheet" href="/assets/css/LineIcons.3.0.css">
        <link rel="stylesheet" href="/assets/css/header.css">
    </head>

    <body>
        <!-- start header -->
        <div class="headerTopNew">
            <div class="inner">
                <div class="head-util">
                    <ul>
                        <li th:if="${#authentication.name.toString().equals('anonymousUser')}" class="util-join">
                            <form action="/member/login" method="get">
                                <button type="submit" style="color: #0b060a; background: unset; font-size : 11px; font: unset" >로그인</button>
                            </form>
                        </li>

                        <li th:if="${#authentication.name.toString().equals('anonymousUser')}" class="util-signup">
                            <form action="/signup" method="get">
                                <button type="submit" style="color: #0b060a; background: unset; font-size : 11px; font: unset" >회원가입</button>
                            </form>
                        </li>

                        <li th:if="!(${#authentication.name.toString().equals('anonymousUser')})" class="util-users">
                            <form action="/mypage" method="get">
                                <button type="submit" style="color: #0b060a; background: unset; font-size : 11px; font: unset"
                                        th:text="${#authentication.name}">user</button>
                            </form>
                        </li>

                        <li th:if="!(${#authentication.name.toString().equals('anonymousUser')})" class="util-logout">
                            <form action="/member/logout" method="post">
                                <button type="submit" style="color: #0b060a; background: unset; font-size : 11px; font: unset">로그아웃</button>
                            </form>
                        </li>

                        <li class="util-order">
                            <form action="/order/list" method="get">
                                <button type="submit" style="color: #0b060a; background: unset; font-size : 11px; font: unset" >주문/배송</button>
                            </form>
                        </li>
                        <li class="util-cart">
                            <form action="/cartList" method="get">
                                <button type="submit" style="color: #0b060a; background: unset; font-size : 11px; font: unset" >장바구니</button>
                            </form>
                        </li>
                        <li class="util-cs">
                            <form action="/notice/list" method="get">
                                <button type="submit" style="color: #0b060a; background: unset; font-size : 11px; font: unset" >고객센터</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Start Header Area -->
        <header class="header navbar-area">

            <!-- Start Header Middle -->
            <div class="header-middle">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-3 col-7">
                            <!-- Start Header Logo -->
                            <form class="navbar-brand" action="/">
                                <button type="submit">
                                    <img src="/assets/images/logo/oliveLogo.png" alt="Logo">
                                </button>
                            </form>
                            <!-- End Header Logo -->
                        </div>
                        <div class="col-lg-5 col-md-7 d-xs-none">
                            <!-- Start Main Menu Search -->

                            <form th:action="@{/mainSearch/search}" method="get">
                                <div class="main-menu-search">
                                    <!-- navbar search start -->
                                    <div class="navbar-search search-style-5">

                                        <div class="search-input">
                                            <input id="text" type="text" name="searchValue" placeholder="Search">
                                        </div>

                                        <div class="search-btn">
                                            <button><i class="lni lni-search-alt" type="submit"></i></button>
                                        </div>
                                    </div>
                                    <!-- navbar search Ends -->
                                </div>
                            </form>
                            <!-- End Main Menu Search -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Header Middle -->
            <div class="header-wrap">

                <div class="gnb-wrap">
                    <script>var IE8Under = false; var IE7Under = false;</script>


                    <div class="gnbV18">
                        <ul>
                            <li id="cateButton1" name="gnb101" class="">
                                <p>스킨케어</p>
                            </li>
                            <li id="cateButton2" class="line" name="gnb121" >
                                <p>메이크업</p>
                            </li>
                            <li id="cateButton3" class="line" name="gnb120" >
                                <p>헤어케어</p>
                            </li>
                            <li id="cateButton4" class="line" name="gnb112" >
                                <p>건강식품</p>
                            </li>
                            <li id="cateButton5" class="line" name="gnb116" >
                                <p>보행보조용품</p>
                            </li>
                            <li>
                                <form>
                                    <a href="/event/game" onclick="top.location.href='/shopping/category_list.asp?disp=118';"><p>이벤트</p></a>
                                </form>
                            </li>
                            <script>

                                // 스킨케어

                                document.getElementById("cateButton1").onclick=function(){

                                    location.href='/mainSearch/search?cateCode=4';

                                };


                                //메이크업

                                document.getElementById("cateButton2").onclick = function(){

                                    location.href='/mainSearch/search?cateCode=2';
                                };

                                //

                                document.getElementById("cateButton3").onclick = function(){

                                    location.href='/mainSearch/search?cateCode=5';
                                };

                                document.getElementById("cateButton4").onclick = function(){

                                    location.href='/mainSearch/search?cateCode=1';
                                };

                                document.getElementById("cateButton5").onclick = function(){

                                    location.href='/mainSearch/search?cateCode=3';
                                };

                            </script>
                        </ul>
                    </div>
                </div>
            </div><!-- Start Header Bottom -->
            <!-- Start Header Bottom -->
        </header>
    </body>
</html>