<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <link rel="stylesheet" href="/assets/css/rouletteEvent.css">
</head>
<body>

    <div style="text-align : center">
        <canvas width="380" height='380'></canvas>

        <button onclick="rotate()">룰렛 돌리기</button>

        <form>
        <input type="hidden" id="mileage"><input type="submit" id="btnSave" value="적립금받기">
        </form>

    </div>



<!--    <script>-->
<!--        $(function (){-->

<!--            $.ajax({-->
<!--                type:"POST",-->
<!--                url:"/rouletteEvent",-->
<!--                success-->


<!--            })-->
<!--        })-->

<!--    </script>-->
      <script src="/assets/js/rouletteEvent.js"></script>
</body>
</html>